<div class="center-align">
    <h1>
        <font face="CENTURY GOTHIC"> Ваш заказ </font>
    </h1>

</div>

<div class="center-align">
    <h4>
        <font face="CENTURY GOTHIC">Введите свои данные</font>
    </h4>

</div>
<div class="container">
    <div class="input-field ">
        <input type="text" placeholder="Asdress" name="adress">
    </div>
    <h2></h2>
    <div class="input-field ">
        <input type="text" placeholder="Name" name="name">
    </div>
    <h2></h2>
    <div class="input-field ">
        <input type="tel" placeholder="phone" name="phone">
    </div>
    <h2></h2>
</div>
<div class="center-align" style="padding-top: 5%;">
    <a class="waves-effect waves-light grey btn" href="/dogs"> Подтвердить</a>
</div>