
<div class="center-align">
  <h1>
    <font face="CENTURY GOTHIC"> Cпасибо за ваш заказ </font>
  </h1>
    <h4 style="padding-top: 10%">
    <font face="CENTURY GOTHIC" > Пожалуйста оставьте отзыв </font>
  </h4>
</div>

<form action="/dogs" method = "POST">
 <div class = "input-field ">
     <input type="text" placeholder="Nickname" name = "nickname">
 </div>
 <h2></h2>
 <div class = "input-field ">
     <input type="text" name = "review" placeholder="Review">
 </div>
 <button type="submit" class="btn">Оставить отзыв</button>

</form>

