<div>
    <h1 align="center">
        <font face="CENTURY GOTHIC">Pizza </font>
    </h1>

</div>

<div class="row">
    <div class="col s12 m3">
        <div class="card medium">
            <div class="card-image">
                <img class="card-image" src="/views/images/16.jpg" alt="val">
            </div>
            <div class="card-content">
                <h6>Испанские колбаски чоризо</h6>
                <p>Томаты, острая чоризо, моцарелла, соус чипотле</p>
                <div class="card-action">
                    <div class=" center-align">
                        <a class="waves-effect waves-light grey btn" href="/pizza_1"> Выбрать </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium">
            <div class="card-image">
                <img class="card-image" src="/views/images/2.jpg" alt="val">
            </div>
            <div class="card-content">
                <h6>Сицилийская</h6>
                <p>Курица, Лук, Маслины, Зеленый перец, Свежие томаты, Сыр Моцарелла</p>
                <div class="card-action">
                    <div class=" center-align">
                         <a class="waves-effect waves-light grey btn" href="/pizza_2"> Выбрать </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium">
            <div class="card-image">
                <img class="card-image" src="/views/images/3.jpg" alt="val">
            </div>
            <div class="card-content">
                <p>Пицца 3</p>
                <div class="card-action">
                    <div class=" center-align">
                         <a class="waves-effect waves-light grey btn" href="/pizza_2"> Выбрать </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card medium">
            <div class="card-image">
                <img class="card-image" src="/views/images/4.jpg" height="90%" width="90%" alt="val">
            </div>
            <div class="card-content">
                <p>Пицца 4</p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col s12 m3 ">
        <div class="card">
            <div class="card-image">
                <img class="card-image" src="/views/images/5.jpg" height="90%" width="90%" alt="val">

            </div>
            <div class="card-content">
                <p>Пицца 1
                </p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img class="card-image" src="/views/images/6.jpg" height="90%" width="90%" alt="val">
            </div>
            <div class="card-content">
                <p>Пицца 2</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img class="card-image" src="/views/images/2.jpg" height="90%" width="90%" alt="val">
            </div>
            <div class="card-content">
                <p>Пицца 3</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img class="card-image" src="/views/images/5.jpg" height="90%" width="90%" alt="val">
            </div>
            <div class="card-content">
                <p>Пицца 4</p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col s12 m3 ">
        <div class="card">
            <div class="card-image">
                <img class="card-image" src="/views/images/6.jpg" height="90%" width="90%" alt="val">
            </div>
            <div class="card-content">
                <p>Пицца
                </p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img class="card-image" src="/views/images/1.jpg" height="90%" width="90%" alt="val">
            </div>
            <div class="card-content">
                <p>Пицца 2</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img class="card-image" src="/views/images/3.jpg" height="90%" width="90%" alt="val">
            </div>
            <div class="card-content">
                <p>Пицца 3</p>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img class="card-image" src="/views/images/4.jpg" height="90%" width="90%" alt="val">
            </div>
            <div class="card-content">
                <p>Пицца 4</p>
            </div>
        </div>
    </div>
</div>